<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205290426477-n481in79lu4h939h5ib9d27nnefaf7fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205290426477-n481in79lu4h939h5ib9d27nnefaf7fv</string>
	<key>API_KEY</key>
	<string>AIzaSyBHpDxdP08NjcJUA2TinS2865_dONmH0Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>205290426477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.scsnlrightorwrong</string>
	<key>PROJECT_ID</key>
	<string>rightorwrongp2</string>
	<key>STORAGE_BUCKET</key>
	<string>rightorwrongp2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205290426477:ios:bd05c51fda35a1fb5fef64</string>
</dict>
</plist>